name: maven build and push

# author Mrxn
# github: github.com/Mr-xn

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Maven
      run: 
        mvn clean package -DskipTests=true -Dmaven.javadoc.skip=true -B -V
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2.3.1
      with:
        # Artifact name
        name: # optional, default is artifact
          Fiora.jar
        # A file, directory or wildcard pattern that describes what to upload
        path: 
          target/Fiora-v*-jar-with-dependencies.jar
        # The desired behavior if no files are found using the provided path.
